<div class="container mt-4">
  <h2 class="mb-4">レシピ一覧</h2>
  <table class="table table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">ユーザー</th>
        <th scope="col">タイトル</th>
        <th scope="col">紹介文</th>
        <th scope="col">コメント数</th> <!-- コメント数のカラムを追加 -->
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td>
            <%= link_to user_path(recipe.user_id) do %>
              <% begin %>
                <%= image_tag recipe.get_recipe_image(80, 80), class: "rounded-circle border", alt: "レシピ画像", width: 80, height: 80 %>
              <% rescue => e %>
                <%= image_tag 'no_image.png', class: "rounded-circle border", alt: "画像なし", width: 80, height: 80 %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to recipe_path(recipe.id), class: "text-decoration-none fw-bold" do %>
              <%= recipe.title %>
            <% end %>
          </td>
          <td><%= truncate(recipe.body, length: 100) %></td>
          <td><%= recipe.comments.count %> コメント</td> <!-- コメント数を表示 -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
