<div class="container mt-4">
  <h2 class="mb-4">レシピ一覧</h2>
  <table class="table table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">ユーザー</th>
        <th scope="col">タイトル</th>
        <th scope="col">紹介文</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td>
            <%= link_to user_path(recipe.user_id) do %>
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image, class: "rounded-circle border", alt: "レシピ画像", width: 80, height: 80 %>
              <% else %>
                <%= image_tag "no_image.jpg", class: "rounded-circle border", alt: "No image", width: 80, height: 80 %> <!-- no_image.jpgは画像がない場合に表示される画像 -->
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to recipe_path(recipe.id), class: "text-decoration-none fw-bold" do %>
              <%= recipe.title %>
            <% end %>
          </td>
          <td><%= truncate(recipe.body, length: 100) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
