<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm rounded">
        <div class="card-header bg-primary text-white text-center">
          <h2><%= @user.name %> さん詳細</h2>
        </div>
        <div class="card-body">
        <!-- プロフィール画像 -->
        <div class="mb-3 text-center">
        <% begin %>
          <% if @user.get_profile_image(150, 150).present? %>
            <%= image_tag @user.get_profile_image(150, 150), class: 'img-fluid rounded-circle' %>
          <% else %>
            <%= image_tag @user.get_profile_image(100, 100), size: "100x100", class: 'img-fluid rounded-circle' %>
          <% end %>
        <% rescue => e %>
          <p>画像が読み込めませんでした: <%= e.message %></p>
        <% end %>
      </div>
        

        
          <div class="mb-3">
            <strong>名前:</strong> <%= @user.name %>
          </div>

        
          <div class="mb-3">
            <strong>自己紹介:</strong> <%= @user.bio %>
          </div>

          <h3>投稿レシピ一覧</h3>

          <% if @recipes.any? %>
            <ul class="list-group">
              <% @recipes.each do |recipe| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= link_to recipe.title, recipe_path(recipe), class: 'text-decoration-none' %>
                  <span class="badge bg-info rounded-pill"><%= recipe.created_at.strftime("%Y-%m-%d") %></span>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>投稿されたレシピはまだありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


